.welcome-banner {
  background: linear-gradient(-90deg, #ffcc00, #ff6699, #3366cc);
  width: 100vw;
  height: 80vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%, 0% 50%);
  background-size: 400% 100%;
  animation: welcome-banner 10s ease infinite;
}

@keyframes welcome-banner {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.welcome-banner-text {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 120px;
  font-weight: 900;
  height: 175px;
}

.welcome-banner-subtext {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: 900;
  height: 50px;
  width: 500px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.get-started-button {
  background: linear-gradient(-90deg, #ffcc00, #ff6699, #3366cc);
  animation: welcome-banner 10s ease infinite;
  background-size: 400% 100%;
  color: white;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  font-size: 20px;
}

.get-started-button:hover {
  color: white;
}
